<footer class="footer">
    <div class="mensagem">

        <img src="../../../assets/msg.png" alt="mensagem">
    </div>
    
    <div class="social">

        <img class="midia_social" src="../../../assets/github.png" alt="github">
        <img class="midia_social" src="../../../assets/whatsapp.png" alt="whatsapp">
        <img class="midia_social" src="../../../assets/gmail.png" alt="gmail">
        <img class="midia_social" src="../../../assets/linkedin.png" alt="linkedin">
    </div>
</footer>
