<footer class="footer">
    <div class="mensagem">

        <h3>sigam-me ou entre em contato</h3>
    </div>
    
    <div class="social">

        <img class="midia_social" src="../../../assets/github.png" alt="github" (click)="targetGithub()">
        <img class="midia_social" src="../../../assets/whatsapp.png" alt="whatsapp" (click)="targetWhatsapp()">
        <img class="midia_social" src="../../../assets/gmail.png" alt="email" (click)="targetEmail()">
        <img class="midia_social" src="../../../assets/linkedin.png" alt="linkedin" (click)="targetLinkedin()">
    </div>
</footer>
