@import '../../../estilos/index.scss';

.header{

    margin-top: calc($hundred_pixel * 0.5);

    @include display($flex, row, $center, $center, $none, $none, $none);

    .titulo{
        font-size: calc($hundred_pixel * 0.6);
        color: $ocean;

        @media (max-width: 500px){
            font-size: calc($hundred_pixel * 0.4);    
        }

    }
}