<div class="body">

    <div class="leonardo">

        <header>
            <img class="eu" src="../../../assets/imagem_ampliada.png" alt="">
        </header>
        
        <main>
            <div class="container">

                <div>
                    <strong>
                        Sou graduado no curso superior de tecnologia 
                        em Logística pela 
                        <a 
                            href="https://www.unijorge.edu.br/cursos/graduacao-tecnologia-em-logistica/" target="_blank">Unijorge</a>, 
                        tenho mais de 10 anos de experiência no setor de varejo de alimentos 
                        e sou pós graduado em nível de especialização Latu Sensu, 
                        no curso de engenharia de software para dispositivos móveis
                        pela <a 
                                href="https://www.uninter.com/pos-graduacao-ead/curso-engenharia-de-software-para-dispositivos-moveis/" 
                                target="_blank">Uninter</a>.
                        Desde jovem atuo no setor de t.i, pois fui um amante do mundo
                        <a 
                            href="https://pt.wikipedia.org/wiki/Gamer" 
                            target="_blank">gamer</a> 
                        e entusiasta do setor de tecnologia e ciências e amante da matemática.
                        Desde então me dediquei a conhecer meu equipamento e entender
                        alguns problemas e como resolvê-los, com o
                        tempo transformei a curiosidade em profissão e atuei por 
                        anos como técnico de informática autonômo, até chegar a desenvolvedor 
                        de software que é a minha atual profissão. 
                    </strong>
    
                </div>

                <img src="../../../assets/voltar.png" alt="" routerLink="/">
            </div>
        </main>
        
    </div>
</div>
