<header>
    <img src="../../../assets/imagem_ampliada.png" alt="">
</header>

<main>
    <div>
        <strong>
            Sou graduado no curso superior de tecnologia 
            em Logística pela Unijorge, tenho mais de 10 
            anos de experiência no setor de varejo de alimentos 
            e sou pós graduado em nível de especialização Latu Sensu, 
            no curso de engenharia de software para dispositivos móveis.
            Desde jovem atuo no setor de t.i, pois fui um amante do mundo 
            gamer e entusiasta do setor de tecnologia e ciências e aprendi 
            a resolver os problemas de meu pc, com o tempo transformei a 
            curiosidade em profissão e atuei por anos como tecnico de 
            informática até chegar a desenvolvedor de software que é a 
            minha atual profissão. 
        </strong>
    </div>
</main>

<footer>
    <div>
        <img src="../../../assets/voltar.png" alt="" routerLink="/">
    </div>
</footer>
