<div class="body">

    <div class="leonardo">

        <!-- header -->
        <app-header></app-header>
        
        <main>
            
            <div class="pages">
                <strong class="link_page" routerLink="quem-sou">Quem sou?</strong>
                <strong class="link_page" routerLink="minhas-skills">Minhas Skills</strong>
                <strong class="link_page" routerLink="meus-projetos">Meus Projetos</strong>
            </div>

            <div class="page-form">
                <strong class="link_page" routerLink="deixe-uma-mensagem">Deixe uma mensagem</strong>
            </div>

        </main>
        
        <!-- footer -->
        <app-footer></app-footer>
        
    </div>
</div>



