@import '../../../estilos/index.scss';

.body{
    @include display($flex, column, $center, $center, $none, $none, $none);

    background: linear-gradient(150deg, $light 25%, $smoke 75% );
    
    .leonardo{
        background:$light;
        box-shadow: 0 0 60px rgba($color: #000000, $alpha: 0.5);
        padding: 1vh;

        @include dimension($small_width, $full_height);
    
        @include display($grid, 
                         $none, 
                         $none, 
                         $none, 
                         1fr, 
                         20% 60% 20%, 
                        'header header'
                        'main main'
                        'footer footer');
    
        app-header{
            // @include test(1px solid blue);
            grid-area: header;
        }
    
        main{
            // @include test(1px solid black);
            @include display($flex, column, space-evenly, $center, $none, $none, $none);
            grid-area: main;

            color: $ocean;

            .pages{

                // @include test(1px solid goldenrod);
                @include dimension($hundred_percent, calc($hundred_percent * 0.8));
                @include display($flex, column, space-evenly, $center, $none, $none, $none);
                font-size: calc($hundred_pixel * 0.4);
                cursor: $pointer; 
            }
            .page-form{

                // @include test(1px solid gold);
                @include dimension($hundred_percent, calc($hundred_percent * 0.2));
                font-size: calc($hundred_pixel * 0.4);  
                text-align: $center;
                cursor: $pointer;   
            }

            .link_page{
                transition: all;
                transition-duration: 0.3s;

                &:hover{
                    text-align: $center;
                    background: $ocean;
                    width: $hundred_percent;
                    color: $dark_light;
                    padding: 0.2vh;
                }
            }
        }
    
        app-footer{ 
            // @include test(1px solid #0367A6);
            grid-area: footer;
        }
    }
}